.magical-underline {
    background-image: linear-gradient(120deg, #84fab0 0%, #70cfff 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 20px 85%;
    transition: background-size 0.25s ease-in;
}

h2{
    margin-bottom: 5px;
    margin-top: 20px;
}

.about-container{
    display: grid;
    grid-template-columns: 50% 50%;
}


.about-card{
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 7px 15px #cecece37;
    display: grid;
    grid-template-columns: 30% 70%;
}

.logo{
    display: grid;
    place-items: center;
}

.about-logo{
    height: 100px;
    max-width: 150px;
    color: rgb(201, 201, 201);
}

.about-body{
    padding: 0 20px 10px 20px;
}


.tags{
    margin: 10px 0;
}

.tag{
    display: inline-block;
    padding: 2px 7px 3px 7px;   
    font-size: 12px;
    border-radius: 20px;
    margin-right: 5px;
    margin-top: 5px;
    font-weight: 500;
    background-color: #D1FAE5;
    color:#047857;
}


@media screen and (max-width: 1150px) { 
    .about-container{
        display: block;
    }

    .about-card{
        display: block;   
    }

    .logo{
        margin: 10px auto;
    }

    .about-body{
        padding: 10px 10px;
    }
}