#menuToggle {
    display: block;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #525252;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #ff5638;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 11;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 34px;
    height: 3px;
    margin-bottom: 8px;
    position: relative;
    background: #000000;
    border-radius: 10px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

.active{
    color: #ff5638 !important;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 0px);
    background: #ffffffbc;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(1px, 0px);
}



#menu {
    position: absolute;
    width: 50vw;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 150px;
    padding-top: 200px;

    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;

    transform: translate(25%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 50px;
    font-weight: 700 !important;
    line-height: 80px;
    text-justify: right;
}

#menuToggle input:checked~ul {
    transform: translateX(-60%);
}

.social{
    padding-left: 10px !important;
    margin-top: 70px;
}



ul.social li{
    display: inline;
    list-style-type: none;
    padding-right: 30px !important;
}

.social-icon{
    font-size: 25px;
    z-index: 3;
}

@media screen and (max-width: 1150px) {
    #menuToggle {
        top: 30px;
        right: 30px;
    }

    #menu {
        padding: 180px 120px;
        width: 100vw;
        transform: translate(30%, 0);
        padding-left: 200px;
    }

    #menu li {
        padding: 10px 0;
        font-size: 33px;
        font-weight: 700 !important;
        line-height: 45px;
        text-justify: right;
    }

    ul.social li{
        padding-right: 20px !important;
    }
    
}