.bg-section{
    background-color: #d3d3d3;
    height: 400px;
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));    
}

.card-list{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
}

.card{
    margin: 30px 10px 0 10px;
    border-radius: 7px;    
    background-color: #ffffff;
    z-index: 1;
}

.card-img{
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 200px;
    object-fit: cover;
}

.card-des{
    font-size: 0.85rem;
    padding: 5px 0;
}

.card-links{
    display: grid;
    grid-template-columns: 40% 60%;
 
}

.card-body{
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 20px;

}


.card-footer{
    background-color: #002c5c;    
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 15px 10px;
}

.card-link-item{
    text-decoration: none;
    font-size: 0.9rem;
    color: #ffc59f !important;
    font-weight: 500;
    text-align: center;
}

.right{ 
    float: right;
}




@media screen and (max-width: 1600px) {
    .card-list{
        display: grid;
        grid-template-columns:33% 33% 33%;
    }
}

@media screen and (max-width: 1350px) {
    .card-list{
        display: grid;
        grid-template-columns:50% 50%;
    }
}

@media screen and (max-width: 750px) {
    .card-list{
        display: block;
        padding: 20px 0;
    }
    .card-img{
        height: 200px;
    }

    .card-link-item{
        padding-left: 0;
    }
}

