html,
body {
    margin: 0;
    padding: 0;
    max-width: 100vw !important;
    font-family: 'Poppins', sans-serif !important;
    background-color: #f0f5f5; 
}

.page-heading {
    font-size: 3rem;
    font-weight: 600;
}

.container {
    margin: 80px 200px;
}

.magical-underline {
    background-image: linear-gradient(120deg, #84fab0 0%, #70cfff 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 20px 85%;
    transition: background-size 0.25s ease-in;
}

.magical-underline:hover {
    background-size: 100% 30%;
}

.hr{
    border-top: 1px solid #c9c9c986;
    margin-bottom: 15px;
}

@media screen and (max-width: 1150px) {
    .container {
        margin: 70px 20px;
    }

    .page-heading {
        font-size: 3rem;
        font-weight: 600;
    }
}