html,
body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #fdd3b7;
}

.wave-bg{
    position: fixed;
    bottom: -10px;
    width: 100vw;
    z-index: 0;
}

.page-heading {
    font-size: 3rem;
    font-weight: 600;
}

.container {
    margin: 80px 200px;
}

.center{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.center-container{
    text-align: center;
}

.magical-underline {
    background-image: linear-gradient(120deg, #84fab0 0%, #70cfff 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 20px 85%;
    transition: background-size 0.25s ease-in;
}

.magical-underline:hover {
    background-size: 100% 30%;
}

.hr{
    border-top: 1px solid #c9c9c986;
    margin: 15px 0;
}


@media screen and (max-width: 1150px) {
    

    .wave-bg{
        right: 0;
        position: fixed;
        bottom: -10px;
        width: 900px;
        z-index: -1;
    }
    

    .container {
        margin: 70px 20px;
    }
    
  
    .page-heading {
        font-size: 3rem;
        font-weight: 600;
    }
}