.navbar-container {
	@apply fixed z-40 flex w-screen items-center justify-between bg-transparent p-4;
}

.profile-picture {
	@apply h-10 w-10 rounded-full object-cover  hover:ring-4 hover:ring-neutral-200;
}

.icon-container {
	@apply rounded-full p-2 hover:bg-neutral-200;
}

.icon-container > svg {
	@apply h-6 w-6 text-neutral-500;
}

.navbar-search-container {
	@apply flex w-1/3 items-center justify-between border bg-white px-3.5 py-2.5 text-sm text-neutral-900;
}
